/* app css stylesheet */
body {
  background: #000;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  position: relative;
}
.wrapper {
  width: 100%;
}
.content {
  margin: 0 auto;
  max-width: 1280px;
}
select {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}
.applied {
  position:relative;
}
.applied img {
  width: 100%;
}
.attribution {
  font-size: 11px;
  color: #999;
  text-align: right;
  margin-top: 5px;
}
button {
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  background-color: #333;
  border-radius:7px;
  display: table-cell;
  vertical-align: middle;
  margin-left: 10px;  
}
button:hover {
  color: red;
}
#caption-example {
  padding: 10px;
  border-radius: 3px;
  float: left;
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 60px;
}
#caption-example p {
  margin: 0;
  padding: 2px;
}
.content > p {
  font-style: italic;
}
.caption {
  margin: 10px 0 0 0 ;
  background: #fff;
  padding: 10px 20px 20px 20px;;
  border-radius: 10px;
  color: black;
}
.modal {
  background-color: rgba(25,25,25,0.75);
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0:
  height: 100%;
  display: none;
}
p.hint {
  color: #ccc;
  font-style: italic;
}

/* Closed-captioning settings */
#ccSettings {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  max-width: 1024px;
  margin: 30px auto;
  display: none;
  z-index: 100;
}
#ccSettings a {
  cursor: pointer;
}
#ccSettings a img {
  width:25px;
  height: 25px;
}
#ccSettings a img.selected {
  border: solid 1px white;
}
#ccSettings td {
  padding: 5px;
  vertical-align: middle;
}
#ccSettings tr:first-child td {
  vertical-align: top;
}
#ccSettings td h2{
  color: #5face7;
  margin: 0;
  padding: 0;
}
