<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="videoEmbedApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="videoEmbedApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="videoEmbedApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="videoEmbedApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WGBH Video</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="PlayerCtrl" >
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="wrapper">
    <div class="content">
      <div id="jw_player"></div>
      <p><button ng-click="toggleModal($event)">Show CC settings</button></p>
    </div>
  </div>
  
  <div class="modal">
    <div  id="ccSettings">
      <table>
        <tr>
          <td colspan="3">
            <h2>Closed-captioning settings</h2>
            <p class="hint">You will need to turn CC on again after changing styles</p>
            <p class="hint">ESC to close without applying settings</p>
          <td>
          <td rowspan="5">
            <div class="applied">
              <div id="caption-example" ng-style="windowStyle"><p ng-style="textStyle">&gt;&gt;Lady Violet: WHAT IS A WEEKEND?</div>
              <img src="images/backdrop-image.jpg">
              <p><button ng-click="applySettings(options)">Apply</button></p>
            </div>
          </td>
        <tr>
          <td>
            <h3>Text Size
            <td colspan="2">
              <a ng-repeat="size in sizeOptions" ng-click="setCC('fontSize', size.size)">{{size.label}}&nbsp;&nbsp;&nbsp;</a>
            </td>
        </tr>

        <tr class="font">
            <td>
                <h3>Font</h3>
            </td>
            <td>
              <a ng-repeat="color in (colorOptions | noTransparent)" ng-click="setCC('color', color.hex, $event)"><img ng-src="images/{{color.image}}" /></a>
            </td>

            <td>
                Opacity:
                <select ng-model='options.captions.fontOpacity' ng-change="setCC('fontOpacity', options.captions.fontOpacity)">
                  <option ng-repeat="op in opacityOptions" value="{{op}}">{{op + '%'}}</option>
                </select>
            </td>

        </tr>

        <tr class="background">
            <td>
                <h3>Background</h3>
            </td>
            <td>
              <a ng-repeat="color in colorOptions" ng-click="setCC('backgroundColor', color.hex)"><img ng-src="images/{{color.image}}" /></a>
            </td>

            <td>
                Opacity:
                <select ng-model='options.captions.backgroundOpacity'  ng-change="setCC('backgroundOpacity', options.captions.backgroundOpacity)">
                  <option ng-repeat="op in opacityOptions" value="{{op}}">{{op + '%'}}</option>
                </select>
            </td>

        </tr>

        <tr class="window">
            <td>
                <h3>Window</h3>
            </td>
            <td>
                <a ng-repeat="color in colorOptions" ng-click="setCC('windowColor', color.hex)"><img ng-src="images/{{color.image}}" /></a>
            </td>

            <td>
                Opacity:
                <select ng-model='options.captions.windowOpacity' ng-change="setCC('windowOpacity', options.captions.windowOpacity)">
                  <option ng-repeat="op in opacityOptions" value="{{op}}">{{op + '%'}}</option>
                </select>
            </td>
          </tr>
      </table>
    </div>
  </div>

  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="http://content.jwplatform.com/libraries/UA6z4Hl9.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/filters.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
